body
  font-family: Helvetica, Sans-Serif
  font-size: 20px
  padding: 20px
  background-color: #fff
  color: #000

h1, h2, h3, h4 
  margin: 0
  margin-bottom: 0.5em

.buttonbar 
  display: flex

.buttonbar .button 
  background-color: rgba(0,0,0,0.05)
  min-width: 30px
  text-align: center
  padding: 8px 15px
  margin-right: 2px
  box-sizing: border-box
  cursor: pointer
  border-radius: 4px
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  font-size: 14px
  line-height: 24px

.buttonbar .button.active 
  background-color: rgba(0,0,0,0.1)
  cursor: default
  font-weight: bold
  font-size: 24px


.tab 
  background-color: rgba(0,0,0,0.1)
  padding: 20px
  min-height: 680px
  border-radius: 5px
  border-top-left-radius: 0
