body
	font-family: Georgia, Serif
	font-size: 20px
	padding: 20px
	line-height: 1.3
	background-color: #dde
	color: #000

a, span.link
	cursor: pointer
	color: #33c
	text-decoration: none

span.link
	-webkit-user-select: none
	user-select: none
	

h1, h2, h3, h4 
	font-family: Helvetica, Sans-Serif
	margin: 0
	margin-bottom: 20px
h1
	font-size: 200%
h2
	font-size: 180%


p
	max-width: 600px

ul li
	margin-bottom: 0.5em
	font-size: 1.8em


.buttonbar 
	display: flex
	margin-left: 20px

.buttonbar .button 
	font-family: Helvetica, Sans-Serif
	background-color: #eee
	min-width: 30px
	text-align: center
	padding: 8px 15px
	margin-right: 5px
	box-sizing: border-box
	cursor: pointer
	border-radius: 5px
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0
	font-size: 14px
	line-height: 24px
	-webkit-user-select: none
	user-select: none
	border: 3px solid rgba(0,0,0,0.1)
	border-bottom: none

.buttonbar .button.active 
	background-color: #fff
	cursor: default
	font-weight: bold
	font-size: 20px
	padding: 10px 15px
	margin-top: -2px
	margin-bottom: -3px
	border-color: rgba(0,0,0,0.2)


.tab
	background-color: #fff
	padding: 30px
	border-radius: 5px
	border: 3px solid rgba(0,0,0,0.2)

.tab .tab
	border-color: rgba(0,0,0,0.2)
	background-color: #ffe
	min-height: 500px
.tab .buttonbar .button
	border-color: rgba(0,0,0,0.1)
.tab .buttonbar .button.active
	background-color: #ffe
	border-color: rgba(0,0,0,0.2)

.tab .tab .tab
	padding: 30px
	min-height: 0px
	font-size: 18px

.tab .tab .tab
	background-color: #fff
	min-height: 400px
.tab .tab .buttonbar .button.active
	background-color: #fff




.tab .notes
	display: none

.tab-intro
	text-align: center
	font-size: 36px
	height: 600px
.tab-intro p
	max-width: none
	margin: 10px 0
	color: #666


.tab-aboutme
	align-items: center
	padding: 30px !important
		
.tab-aboutme img
	width: 100%
	height: auto
	max-width: 1100px
	border: 1px solid rgba(0,0,0,0.3)
	border-radius: 3px


.slide
	display: flex
	flex-direction: column
	justify-content: start
	align-content: space-between
	padding: 35px 50px 50px

.tab-intro
	justify-content: center

.tab-anatomy
	padding-bottom: 30px

.tab-anatomy .nested-region
	margin-left: -15px
	margin-top: -50px

.tab-anatomy .tab
	height: 400px
	padding-right: 270px !important
	background-position: top right
	background-repeat: no-repeat

.tab-anatomy .tab-apple
	background-image: url(/images/apple.png)
.tab-anatomy .tab-banana
	background-image: url(/images/banana.png)
.tab-anatomy .tab-carrot
	background-position: top right
	background-image: url(/images/carrot.png)
	
.tab-anatomy .buttonbar
	padding: 10px
	margin: 0
	margin-left: 560px
	margin-bottom: -20px
	width: 270px
	position: relative
	z-index: 1

.tab-anatomy .buttonbar:hover
	box-shadow: 0 0 0 4px red;

.tab-anatomy .tab-content
	width: 860px
	padding: 10px
	position: relative

.tab-anatomy .tab-content:hover
	box-shadow: 0 0 0 4px red;

code, .code
	font-family: Andale Mono, monospace

pre
	tab-size: 4
	font-size: 120%
	font-family: Andale Mono, monospace
	
.tab-carrot pre
	tab-size: 2
	margin-left: 15px
	margin-top: 50px
	
.tab-tabbed-views .tab-code pre
	font-size: 100%

	
.tab-scopes ul
	margin: 0

.tab-scopes li
	cursor: pointer
	margin: 0
	padding: 20px 0

.tab-scopes .url
	font-size: 36px
	line-height: 36px
	white-space: nowrap
	display: none
	margin: 30px 0
	
.tab-scopes .highlight
	.scope
		position: relative
		background-color: rgba(255,204,204,0.5)
		box-shadow: 0 0 0 2px rgba(255,0,0,0.5)
	.param
		position: relative
		background-color: rgba(204,204,255,0.5)
		box-shadow: 0 0 0 2px rgba(0,0,255,0.5)

.tab-scopes .url
	.scope:before
		content: 'scope'
		position: absolute
		top: -36px
		left: 2px
		font-size: 22px
	.param:before
		content: 'parameter'
		position: absolute
		top: -36px
		left: 2px
		font-size: 22px
	.ignored
		opacity: 0.3

.tab-scopes .url.scope0
	display: block
.scope-1
	.tab-scopes .url.scope0
		display: none
	.tab-scopes .url.scope1
		display: block
.scope-2
	.tab-scopes .url.scope0
		display: none
	.tab-scopes .url.scope2
		display: block
.scope-3
	.tab-scopes .url.scope0
		display: none
	.tab-scopes .url.scope3
		display: block

.tabbed.scope-1
	padding: 10px
	margin: -10px
	box-shadow: 0 0 0px 10px rgba(255,0,0,0.5)

.tabbed.scope-2 .tabbed.tab-routing
	box-shadow: inset 0 0 0px 10px rgba(255,0,0,0.5)

.tabbed.scope-3 .tab-needs .tabbed
	padding: 10px
	margin: -10px
	box-shadow: 0 0 0px 10px rgba(255,0,0,0.5)

.tab-code pre
	background-color: #fff
	padding: 20px
	margin: -20px
	margin-top: -10px
	border: 1px solid #eee


.code-annotations
	
	pre .note
		box-shadow: inset 0 0 0 2px rgba(255,0,0,0.05)
		cursor: crosshair
	pre .note.active
		background-color: #fee
	pre .note .note
		box-shadow: none
	pre .note:hover .note
		box-shadow: inset 0 0 0 2px rgba(255,0,0,0.05)


	pre .note-defineviews
		width: 570px
	pre .note-regions
		width: 500px
	pre .note-behaviors
		width: 840px
	pre .note-handlers
		width: 520px

	.sidenotes
		position: relative

	.sidenotes .content
		position: absolute
		left: 700px
		top: 0px
		right: 0px
		font-size: 24px
		
		.note
			display: none
			position: absolute
			left: 0
			right: 0
			padding: 10px
			padding-left: 15px
			border: 2px solid #fcc
			border-radius: 5px
		.note:before
			display: block
			content: ""
			position: absolute
			right: 100%
			top: 20px
			width: 50px
			border: 1px solid #fcc
			
		.note-defineviews
			top: 70px
		.note-defineviews:before
			width: 130px
		.note-tabbedview
			top: 157px
		.note-tabbedview:before
			width: 112px
		.note-regions
			top: 190px
		.note-regions:before
			top: 50px
			width: 200px
		.note-behaviors
			top: 320px
			left: 190px
		.note-tabregion
			top: 390px
			left: 190px
		.note-navoptions
			top: 420px
			left: 190px
		.note-tabslist
			top: 520px
			left: 190px
			
		.note-scoperouter
			top: 12px
		.note-scope
			top: 170px
			left: -120px
		.note-scope:before
			top: 30px
			width: 163px
		.note-foo
			top: 226px
			left: -120px
		.note-foo:before
			top: 30px
			width: 176px
		.note-bar
			top: 255px
			left: -120px
		.note-bar:before
			width: 36px
			top: 30px
		.note-handlers
			top: 400px
			left: -120px
		.note-handlers:before
			width: 60px



.tab-caution
	background-position: top right
	background-repeat: no-repeat
	background-image: url(/images/caution.png)


