body
	font-family: Georgia, Serif
	font-size: 20px
	padding: 20px
	line-height: 1.3
	background-color: #ddd
	color: #000

h1, h2, h3, h4 
	font-family: Helvetica, Sans-Serif
	margin: 0
	margin-bottom: 0.5em

p
	max-width: 600px

ul li
	margin-bottom: 0.5em
	font-size: 1.8em


.buttonbar 
	display: flex
	margin-left: 20px

.buttonbar .button 
	font-family: Helvetica, Sans-Serif
	background-color: #eee
	min-width: 30px
	text-align: center
	padding: 8px 15px
	margin-right: 5px
	box-sizing: border-box
	cursor: pointer
	border-radius: 5px
	border-bottom-left-radius: 0
	border-bottom-right-radius: 0
	font-size: 14px
	line-height: 24px
	-webkit-user-select: none
	user-select: none
	border: 3px solid rgba(0,0,0,0.1)
	border-bottom: none

.buttonbar .button.active 
	background-color: #fff
	cursor: default
	font-weight: bold
	font-size: 20px
	padding: 10px 15px
	margin-top: -2px
	margin-bottom: -3px
	border-color: rgba(0,0,0,0.2)


.tab
	background-color: #fff
	padding: 30px
	border-radius: 5px
	border: 3px solid rgba(0,0,0,0.2)
	min-height: 550px

.tab .tab
	border-color: rgba(0,0,0,0.1)
	min-height: 550px
.tab .tab .tab
	padding: 30px
	min-height: 0px
	font-size: 18px
.tab .buttonbar .button
	border-color: rgba(0,0,0,0.02)
.tab .buttonbar .button.active
	border-color: rgba(0,0,0,0.1)



.tab .notes
	display: none

.tab-aboutme
	align-items: center
		
.tab-aboutme img
	width: 100%
	max-width: 1050px
	height: auto
	border: 1px solid rgba(0,0,0,0.3)
	border-radius: 3px


.slide
	display: flex
	flex-direction: column
	justify-content: center
	align-content: space-between
	padding: 30px 100px

.tab-anatomy
	padding-bottom: 30px

.tab-anatomy .nested-region
	margin-left: -25px
	margin-top: -50px

.tab-anatomy .tab
	height: 400px
	padding-right: 280px !important
	background-position: top right
	background-repeat: no-repeat

.tab-anatomy .tab-apple
	background-image: url(/images/apple.png)
.tab-anatomy .tab-banana
	background-image: url(/images/banana.png)
.tab-anatomy .tab-carrot
	background-position: top right
	background-image: url(/images/carrot.png)
	
.tab-anatomy .buttonbar
	border: 2px solid transparent
	padding: 10px
	margin: 0
	margin-left: 450px
	margin-bottom: -24px
	width: 270px
	position: relative
	z-index: 1

.tab-anatomy .buttonbar:hover
	border-color: red

.tab-anatomy .tab-content
	width: 860px
	border: 2px solid transparent
	padding: 10px
	position: relative

.tab-anatomy .tab-content:hover
	border-color: red

pre
	tab-size: 2
	font-size: 120%
	
.tab-carrot pre
	margin-left: 40px