<script class="intro">
	<h1>Tabbed Marionette Views <br>and Routing with “Scopes”</h1>
	<p><a href="http://about.me/pascal">about.me/pascal</a></p>
	<p>@pascalpp on <a href="http://github.com/pascalpp">GitHub</a> and <a href="http://twitter.com/pascalpp">Twitter</a></p>
	<div class="notes"></div>
</script>

<script class="aboutme">
	<img src="/images/aboutme.png">
	<div class="notes">
		My name is Pascal.
		I’m a frontend developer for about.me,
		which lets you easily make a one-page website all about you and your interests.
		We’ve been migrating our entire product to Backbone and Marionette,
		piece by piece, over the last year.
	</div>
</script>

<script class="goals">
	<h1>What we wanted to do</h1>
	<ul>
		<li>Display Marionette Views in a tabbed interface</li>
		<li>Enable or disable individual tabs <span class="link dynamically">dynamically</span></li>
		<li>Nest tabbed views, infinitely</li>
		<li>Re-show the last active tab when returning to a tabbed view</li>
		<li>Track history and respond appropriately to back/forward buttons</li>
		<li>Link directly link to any tab in the view hierarchy</li>
	</ul>
</script>

<script class="anatomy">
	<h1>Anatomy of a Tabbed View</h1>
	<div class="nested-region"></div>
	<div class="notes">
		Let's look at the anatomy of a tabbed view.
	</div>
</script>


<script class="apple">
	<h2>LayoutView + Tabs Behavior</h2>
	<ul>
		<li>View provides a tab region</li>
		<li>View can also provide a nav region</li>
		<li>Nav is a collection view</li>
		<li>Default nav view is a button bar</li>
		<li>BYO CSS</li>
	<div class="notes">
		By show of hands, who here knows about Marionette Behaviors?
		If you're not familiar with Marionette Behaviors,
		they are a way to encapsulate some functionality which
		can then be added to any view.
		The view defines a region where the tabs will be shown.
		The view can also define a nav region for the tab navigation.
		The nav view can be any collection of composite view.
		By default, the behavior provides a buttonbar view
		which can by styled any way you like.
		The active tab is marked with an active class.
	</div>
	</ul>
</script>
<script class="banana">
	<h2>A Tab is a Model</h2>
	<ul class="code">
		<li>id: "banana"</li>
		<li>label: "Banana"</li>
		<li>view: any Backbone.View</li>
		<li>viewOptions: (optional)</li>
		<li>visible: <span class="true">true</span> || <span class="false">false</span></li>
	</ul>
	<div class="notes">
		Each tab has an id, which is also used for routing, which I'll get into later.
		Each tab has label which is shown in the navigation for the tabbed view.
		Each tab has a view which can be any subclass of Backbone.View,
		and viewOptions which are passed to the View class to create a view instance
		each time the tab is shown.
		You can also set the tab's visible property to false to hide it from view.
	</div>
</script>
<script class="carrot">
	<h2>The Tabs Behavior does the rest</h2>
	<ul>
		<li>The View passes an array of tabs<br>to the Tabs behavior</li>
		<li>The Tabs behavior converts the array into a collection</li>
	</ul>
	<pre>
	tabs: [
		{ id: 'apple',  label: 'Apple',  view: AppleView  },
		{ id: 'banana', label: 'Banana', view: BananaView },
		{ id: 'carrot', label: 'Carrot', view: CarrotView }
	]
	</pre>
	<div class="notes">
		The list of tabs is just an array of object literals
		which the view passes in the behavior's options.
		The behavior converts the array into a collection of tab models.
	</div>
</script>


<script class="examples">
	<h1>Examples</h1>
	<ul>
		<li><a href="http://127.0.0.1:8080/user/edit" target="examples">about.me Edit Panel</a></li>
		<li><a href="http://127.0.0.1:8080/me/playground/forms" target="examples">Playground Page</a></li>
		<li><a href="http://127.0.0.1:8080/about/us" target="examples">About Us</a></li>
		<li><a href="http://127.0.0.1:8080/share" target="examples">Share Page</a></li>
	</ul>
</script>

<script class="tabs-code">
	<h2>Adding the Tabs Behavior to a View</h2>
	<div class="sidenotes">
		<div class="content">
			<div class="note note-importtabsbehavior">
				Import the Tabs behavior class.
			</div>
			<div class="note note-defineviews">
				Define or import a View class for each tab.
			</div>
			<div class="note note-tabbedview">
				Define a View class to contain your tabs. Once initialized, the tabs object will be available in the view as <code>this.tabs</code>, and the collection of tab models at <code>this.tabs.collection</code>.
			</div>
			<div class="note note-regions">
				Your view must define a region for the tab views, and optionally a region for the tab navigation. You can use whatever classnames or region names you prefer.
			</div>
			<div class="note note-behaviors">
				Options to be passed to the tabs behavior.
			</div>
			<div class="note note-tabregion">
				Here you pass the tab region you defined above. All tab views will be shown in this region.
			</div>
			<div class="note note-navoptions">
				Here you pass the options for the tab navigation, including the region where tab navigation should be shown. You can also pass <code>view</code> and <code>viewOptions</code> here to create your own custom tab navigation. Omit the nav options or set nav to false to forgo tab navigation. The nav view will receive a reference to the tabs object in its options.
			</div>
			<div class="note note-tabslist">
				Pass an array of objects describing your tabs.
			</div>
			<div class="note note-tabscope">
				This is the scope that will be assigned to the router for this tabbed view. When you change tabs, the URL will be updated by appending the id of the current tab to this scope.
			</div>
		</div>
	</div>
	<pre></pre>
</script>

<script class="tabs-code-sample">
<span class="note" data-note="importtabsbehavior">var Tabs = require('path/to/behavior/tabs');</span>

<div class="note note-defineviews" data-note="defineviews">var AppleView = require('view/apple_view');
var BananaView = require('view/banana_view');
var CarrotView = require('view/carrot_view');
</div>
<span class="note note-tabbedview" data-note="tabbedview">var MyTabbedView = Marionette.LayoutView.extend({</span>
	template: '#mytemplate',
<div class="note note-regions" data-note="regions">	regions: {
		content: '.content-region',
		nav: '.nav-region'
	},
</div><div class="note note-behaviors" data-note="behaviors">	behaviors: function() {
		return {
			behaviorClass: Tabs,
<div class="note" data-note="tabregion">			region: this.content,</div><div class="note" data-note="navoptions">			nav: {
				region: this.nav
			},</div><div class="note" data-note="tabslist">			tabs: [
				{ id: 'apple',  label: 'Apple',  view: AppleView  },
				{ id: 'banana', label: 'Banana', view: BananaView },
				{ id: 'carrot', label: 'Carrot', view: CarrotView }
			],
</div><div class="note" data-note="tabscope">			scope: 'some/scope'</div>		};
	}
</div>});
</script>

<script class="backbone">
	<h1>How Routing Typically Works in Backbone</h1>
	<div class="nested-region"></div>
</script>

<script class="appstart">
	<h2>App Initialization</h2>
	<ul>
		<li>Start the app</li>
		<li>Instantiate router(s)</li>
		<li>Router(s) add routes to Backbone.history.handlers array</li>
		<li>Start Backbone.history</li>
		<li>Backbone.history finds the most recently added route which matches the current URL and calls its handler</li>
	</ul>
</script>
<script class="apprunning">
	<h2>While the App Is Running</h2>
	<ul>
		<li>User navigates around the app</li>
		<li>App updates the URL to reflect the current app state (<code>router.navigate</code>)</li>
		<li>User clicks back button</li>
		<li>URL changes, triggering a history event</li>
		<li>Backbone.history finds the most recently added route which matches the current URL and calls its handler</li>
	</ul>
</script>

<script class="limitations">
	<h2>Limitations in Backbone Routing</h2>
	<ul>
		<li>Routes created after history has started won’t be triggered even if they match the current URL.</li>
		<li>Route handlers must be capable of handling different app states.</li>
		<li>There’s no prescribed way to remove a route from Backbone.history.</li>
		<li>No way for a URL to trigger more than one route handler.</li>
	</ul>
	<div class="notes">
		You can define new routes after history has started, but they won't be triggered until the next time the URL changes. This generally means you have to know in advance all the routes that your application will support. This makes it harder to decentralize route handlers.
		Route handlers have to be able to handle all your different app states. If a route is triggered when it's no longer valid, it has to know not to do anything.
		Routes persist through the life of your application. Suppose the current user logs out. If your app has routes to views that are only visible to logged-in users, why not just remove those routes?
		When the URL changes, there might be several routes that match that new URL, but only the most recently one will be triggered.
	</div>
</script>

<script class="needs">
	<h1>What we need in order to route to any tab view</h1>
	<ul>
		<li>We need a way for a single URL to be handled by different components in the application.</li>
		<li class="scope" data-scope="1">That is, we want the top-level view to respond to the first part of the URL, ignoring the rest.</li>
		<li>That top-level view loads the tab indicated by the first parameter.</li>
		<li class="scope" data-scope="2">That tab can then load its own set of tabs, showing the tab indicated by the next parameter in the URL.</li>
		<li>And so on..</li>
	</ul>
</script>

<script class="solution">
	<div class="nested-region"></div>
</script>

<script class="overview">
	<h1>Our Solution</h1>
	<ul>
		<li>Break the URL into parts, called “scopes”</li>
		<li>Create a router that operates within a given scope</li>
		<li>Each tabbed view creates its own scoped router</li>
		<li>When a tabbed view is closed, destroy its router and its routes</li>
	</ul>
</script>

<script class="scopes">
	<h2>Each level in the view hierarchy is a “scope”</h2>
	<p class="code url highlight scope0">http://host.com/routing/solution/scopes</p>
	<p class="code url highlight scope1"><span class="ignored">http://host.com</span>:<span class="param">routing</span><span class="ignored">/solution/scopes</span></p>
	<p class="code url highlight scope2"><span class="ignored">http://host.com/</span><span class="scope">routing</span>:<span class="param">solution</span><span class="ignored">/scopes</span></p>
	<p class="code url highlight scope3"><span class="ignored">http://host.com/</span><span class="scope">routing/solution</span>:<span class="param">scopes</span></p>
	<ul class="code">
		<li>1st level: scope: <span class="scope">""</span>, param: <span class="param">routing</span></li>
		<li>2nd level: scope: <span class="scope">routing</span>, param: <span class="param">solution</span></li>
		<li>3rd level: scope: <span class="scope">routing/solution</span>, param: <span class="param">scopes</span></li>
	</ul>
</script>
<script class="router">
	<h2>A Scoped Router</h2>
	<div class="sidenotes">
		<div class="content">
			<div class="note note-scoperouter">
				ScopeRouter is a subclass of Marionette.AppRouter.
			</div>
			<div class="note note-scope">
				The scope defines the prefix for all routes in this router. For a root-level scope, set this option to an empty string.
			</div>
			<div class="note note-foo">
				Defines a route for <code>some/scope/foo</code>. All routes are automatically prefixed with the router's scope.
			</div>
			<div class="note note-bar">
				Defines a route for <code>some/scope/bar</code>, including an optional params splat. This allows this route to match any URL that starts with <code>some/scope/bar</code>. The handler for this route will receive <code>params</code> as an argument.
			</div>
			<div class="note note-handlers">
				Handlers for the above routes.
			</div>
			<div class="note note-automaticforthetabs">
				Creating a scoped router is only slightly different from creating a standard Marionette AppRouter. Note that all of this is done automaticaly when you create a view that uses the Tabs behavior.
			</div>
		</div>
	</div>
	<pre></pre>
</script>

<script class="router-code-sample">
<span class="note" data-note="scoperouter">var ScopeRouter = require('path/to/scope-router');</span>

var Controller = Marionette.Controller.extend({
	initialize: function() {
		this.router = new ScopeRouter({
			controller: this,
			<span class="note" data-note="scope">scope: 'some/scope',</span>
			appRoutes: {
				<span class="note" data-note="foo">'foo': 'onFoo',</span>
				<span class="note" data-note="bar">'bar(/)(*params)': 'onBar'</span>
			}
		});
	},
<div class="note note-handlers" data-note="handlers">	onFoo: function() {
		// handle some/scope/foo route
	},
	onBar: function(params) {
		// handle some/scope/bar route
	}
</div>});
</script>

<script class="initialize">
	<h2>When the Router is initialized</h2>
	<ul>
		<li>If Backbone.history has already started, the router checks its own routes to see if any match the current URL.</li>
		<li>If Backbone.history hasn’t started, the router starts it for us! This only works if all your routers are instances of ScopeRouter.</li>
	</ul>
</script>

<script class="createroute">
	<h2>When you create a route</h2>
	<ul>
		<li>The route is added to Backbone.history.handlers, but with an additional property: a reference to the router that “owns” that route.</li>
		<li>This allows us to remove our routes later.</li> 
	</ul>
</script>

<script class="navigate">
	<h2>When you call router.navigate</h2>
	<ul>
		<li>You don’t have to set the whole URL — just the fragment inside your scope.</li>
		<li>e.g. the <code>id</code> for the current tab in a tabbed view.</li>
		<li>The router prepends the scope to your history fragment and passes that to Backbone.history.navigate.</li>
		<li>ScopeRouter automatically figures out if the URL update should add a state to history, or if it should replace the current state.</li>
	</ul>
</script>

<script class="destroy">
	<h2>When the tabbed view closes</h2>
	<ul>
		<li>Its router is destroyed</li>
		<li>All its routes are removed from Backbone.history.handlers</li>
		<li>So they no longer interfere with route matching</li>
	</ul>
</script>


<script class="caution">
	<h1>A Word of Caution</h1>
	<ul>
		<li>This is not a drop-in solution.</li>
		<li>Some monkeypatching required.</li>
		<li>Built for a pretty specific use-case.</li>
		<li>Lots of other interest work in the area of routing is happening. See also:
			<ul>
				<li><a href="https://github.com/ModelN/backbone.subroute/">backbone.subroute</a></li>
				<li><a href="https://github.com/jmeas">@jmeas</a></li>
				<li><a href="https://github.com/thejameskyle">@thejameskyle</a></li>
			</ul>
		</li>
	</ul>
</script>

<script class="tryit">
	<h1>Download this demo and try it out</h1>
	<pre>
$ git clone https://github.com/pascalpp/scoped-router.git
$ cd scoped-router
$ npm install
$ npm start</pre>
	<p>then open <a href="http://localhost:9000">http://localhost:9000</a></p>
</script>


<script class="dont1">
	<h1>Don’t</h1>
</script>

<script class="dont2">
	<h1>Don’t</h1>
</script>


