<script class="aboutme">
	<h1>About Me</h1>
	<img src="/images/aboutme.png">
	<div class="notes">
		My name is Pascal.
		I’m a frontend developer for about.me,
		which lets you easily make a one-page website all about you and your interests.
		We’ve been migrating our entire product to Backbone and Marionette,
		piece by piece, over the last year.
	</div>
</script>

<script class="goals">
	<h1>What we wanted to do</h1>
	<ul>
		<li>Display Marionette Views in a tabbed interface</li>
		<li>Enable or disable individual tabs dynamically</li>
		<li>Nest tabbed views, infinitely</li>
		<li>Re-show the last active tab when returning to a tabbed view</li>
		<li>Link directly link to any tab in the view hierarchy</li>
	</ul>

	<div class="notes">
		We needed a way to display Marionette views in a tabbed user interface,
		with a configurable nav and a region that would be populated
		with a view for each tab.
		
		We needed to be able to enable or disable the tabs dynamically,
		so a tab could be hidden from view under various conditions.

		We also needed to nest multiple levels of tabbed views.
		We didn't need infinite depth, but decided any solution worth its salt
		would be able to handle infinite levels of tabs.
		
		We needed to have routing set up so we can link directly
		to any nested view in the hierarchy.
		
		And that routing should no longer apply if the tabbed view is no longer visible.
	</div>
</script>

<script class="examples">
	<h1>Examples</h1>
	<ul>
		<li>This slideshow is a series tabbed views, obvs.</li>
		<li>A nested tabbed view:</li>
	</ul>
	<div class="nested-region"></div>
</script>

<script class="apple">
<h2>A is for Apple.</h2>
</script>
<script class="banana">
<h2>B is for Banana.</h2>
</script>
<script class="carrot">
<h2>C is for Carrot.</h2>
</script>

<script class="moreexamples">
	<h1>More Examples</h1>
	<ul>
		<li><a href="http://127.0.0.1:8080/user/edit" target="examples">Edit Panel</a></li>
		<li><a href="http://127.0.0.1:8080/me/playground/forms" target="examples">Playground Page</a></li>
		<li><a href="http://127.0.0.1:8080/about/us" target="examples">About Us</a></li>
	</ul>
</script>
